.b-cuesheet {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-tight) var(--gap);
}
.b-cuesheet > .e-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-cuesheet > .e-caption {
  grid-column: 1;
}
.b-cuesheet > .e-badge {
  grid-column: 2;
  grid-row: 1 / span 2;
}
